.navbar {
  border: 2px solid black;
}

.cart-o-grapher {
  font-size: 252%;
  text-align: left;
  margin-left: 10%;
}

.signup-link, .login-link {
  width: 20%;
  height: 7.5%;
  border: 2px solid black;
  position: fixed;
  right: 0;
  text-align: center;
}

.login-link {
  top: 0;
}

.signup-link {
  top: 7.5%;
}

.nav-items {
  border: 2px solid black;
  width: 10%;
}

.logo {
  position: fixed;
  top: 0;
  width: 8%;
  float: left;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.navList {
  font-family: 'Risque', cursive;
  text-align: right;
  padding-right: 2%;
}

a:link{
  text-decoration: none;
}