.main-body {
	width: 100%;
	height: 88%;
	/* display: inline-block; */
	background-color: #A9A9A9;
	/* background-color: #ff9966; */
	/* background-image: url("../ProfileDesign/cartography-1.jpg"); */
	position: fixed;
  	top: 50px;
  	left: 0px;
}

.top {
	/* display: inline-block; */
	height: 4%;
	width: 100%;
}

.aboutCoG {
	/* float: left; */
	width: 40%;
	height: 100%;
	text-indent: 15px;
	font-style: italic;
	margin-left: 375px;
	margin-top: 400px;
	display: block;
	/* margin-left: 15px;
	margin-top: 30px; */
	/* border: 1px solid black; */
}

.outer-button {
	position: relative;
	left: 400px;
	bottom: 30px;
}

.map {
	/* float: right; */
	right: 100px;
	/* right: 0; */
	width: 59%;
	margin-bottom: 300px;
	margin-right: 30px;
	border: 3px solid black;
	/* height: 100%; */
}

.leaflet-container {
	position:fixed;
 	top: 10.5%;
	bottom: 14.65%;
	left: 20.9%;
	right: 20.2%;
	height: 350px;

}
/*
.search-divider {
	width: 100%;
	height: 50%;
	background-color: purple;
}

.search-info {
	width: 49.7%;
	float: left;
	height: 100%;
	padding-right: 0.58%;
	text-align: center;
	background-color: orange;
}

.search-form {
	float: right;
	width: 49.7%;
	height: 100%;
	margin-top: 5px;
	display: inline-block;
}

.search-text {
	display: inline;
	bottom: 0;
} */
/*
.form-location {
	width: 70%;
}

.radius {
	width: 10%;
} */
/*
.cartograph {
	width: 17%;
	float: right;
	margin-right: 3px;
	margin-top: 3px;
	needs to be centered
} */

.shop-display {
	height: 29%;
	width: 100%;
	margin-top: 75px;
	/* margin-bottom: 90px; */
	display: block;
	background-color: #000066;
	/* background-color: #4d79ff; */
	text-align: center;
}

.hoveredShop, .shop1, .shop2, .shop3, .shop4, .shop5 {
	width: 14.7%;
	height: 100%;
	display: inline-block;
	border: 2px solid black;
}

.arrow-left {
	height: 103%;
	width: 5%;
}

.arrow-right {
	height: 103%;
	width: 5%;
}
