body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: yellow;
  width: 100%;
  height: 100px;
  font-family: Times New Roman;
  font-size: 20px;
  display: inline-flex;
  justify-content: space-between;
}

.header-nav {
  background-color: red;
}
.header-nav ul {
  list-style-type: none;
}

.header-nav li {
  float: left;
  margin: 10px;
}

.store-page {
  border: 2px solid;
  background-color: green;
  position: fixed;
  top: 100px;
  left: 0px;
}

.main-body {
  position: fixed;
  top: 100px;
  left: 0px;
  background-color: green;
  border: 2px solid;
}

.settings-body {
  position: fixed;
  top: 100px;
  left: 0px;
  background-color: green;
  border: 2px solid;
}

.leaflet-container {
  height: 500px;
  width: 500px;
  position: fixed ;
  top: 200px;
  display: flex;
}

.leaflet-default-icon-path {
  background-image : url("/public/images/marker-icon.png")
}
