html{
	background-color: pink;

}	

h1{
	text-align: center;
	font-family: 'Bookman Old Style'; 
	font-size: 30px;
}

h1 {
	text-decoration: none;
}

.main-body {
	width: 100%;
	height: 88%;
	display: inline-block;
	/* background-color: #ff9966; */
	/* background-image: url("../ProfileDesign/cartography-1.jpg"); */
	position: fixed;
  	top: 125px;
  	left: 0px;
  	font-family: 'Bookman Old Style'; 
}

#map {
	 float: right; 
	border: 2px solid;
	position: fixed;
	top: 50%;
	left: 25%;
	right: 25%;
	margin-top: -50px;
	margin-left: -100px;
	width: 66%;
	 
}

.leaflet-container {
	position:absolute;
 	top: 18.5%;
	bottom: 34.65%;
	left: 40.9%;
	right: 0.2%;
	height: 300px;
}

.leaflet-marker-icon {
	border-radius: 25%;
}

.search-divider {
	width: 100%;
	height: 6%;
	background-color: purple;
}

.search-info {
	width: 49.7%;
	float: left;
	height: 100%;
	padding-right: 0.58%;
	text-align: center;
	background-color: orange;
}

.search-form {
	float: right;
	width: 49.7%;
	height: 100%;
	margin-top: 5px;
	display: inline-block;
}

.search-text {
	display: inline;
	bottom: 0;
}

.form-location {
	width: 70%;
}

.radius {
	width: 10%;
}

.cartograph {
	width: 17%;
	float: right;
	margin-right: 3px;
	margin-top: 3px;
	/* needs to be centered */
}

.shop-display {
	height: 29%;
	width: 100%;
	display: block;
	background-color: #4d79ff;
	text-align: center;
}

.hoveredShop, .shop1, .shop2, .shop3, .shop4, .shop5 {
	width: 14.7%;
	height: 100%;
	display: inline-block;
	border: 2px solid black;
}

.arrow-left {
	height: 103%;
	width: 5%;
}

.arrow-right {
	height: 103%;
	width: 5%;
}

#address {
	text-align: center;
}

.about-text {
	text-align: center;
	margin-top: 10px;
}

.text-signup, .text-login {
	text-decoration: underline;
}