.main-body {
	width: 100%;
	height: 88%;
	display: inline-block;
	/* background-color: #ff9966; */
	/* background-image: url("../ProfileDesign/cartography-1.jpg"); */
	position: fixed;
  	top: 100px;
  	left: 0px;
}

.top {
	display: inline-block;
	height: 65%;
	width: 100%;
}

.aboutCoG {
	/* float: left; */
	width: 40%;
	height: 100%;
	text-indent: 15px;
	font-style: italic;
	margin-left: 15px;
	margin-top: 30px;
	/* border: 1px solid black; */
}

.map {
	/* float: right; */
	right: 0;
	width: 59%;
	border: 3px solid black;
	/* height: 100%; */
}

.leaflet-container {
	position:absolute;
 	top: 18.5%;
	bottom: 34.65%;
	left: 40.9%;
	right: 0.2%;
	height: 300px;
}

.search-divider {
	width: 100%;
	height: 6%;
	background-color: purple;
}

.search-info {
	width: 49.7%;
	float: left;
	height: 100%;
	padding-right: 0.58%;
	text-align: center;
	background-color: orange;
}

.search-form {
	float: right;
	width: 49.7%;
	height: 100%;
	margin-top: 5px;
	display: inline-block;
}

.search-text {
	display: inline;
	bottom: 0;
}

.form-location {
	width: 70%;
}

.radius {
	width: 10%;
}

.cartograph {
	width: 17%;
	float: right;
	margin-right: 3px;
	margin-top: 3px;
	/* needs to be centered */
}

.shop-display {
	height: 29%;
	width: 100%;
	display: block;
	background-color: #4d79ff;
	text-align: center;
}

.hoveredShop, .shop1, .shop2, .shop3, .shop4, .shop5 {
	width: 14.7%;
	height: 100%;
	display: inline-block;
	border: 2px solid black;
}

.arrow-left {
	height: 103%;
	width: 5%;
}

.arrow-right {
	height: 103%;
	width: 5%;
}